body, head {
  background: #ffffff;
}
#header {
  list-style-type: none;
  margin: 0px;
  padding 0px;
}
.rhead {
  color: lightgray;
  font-family: Arial;
  font-size: 10px;
  float: right;
  padding-right: 8px;
}
#profile {
  height: 22.5px;
  width: 22.5px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  top: -3px;
}
#notifications {
  height: 15px;
  width: 15px;
  border-radius: 10px 10px 10px 10px;
  background-color: #999999;
  position: relative;
  top: -12px;
  z-index: -1; position: relevant;
}
#bell {
  height: 7.5px;
  width: 7.5px;
  vertical-align: middle;
  padding-left: 4px;
  padding-bottom: .45px;
}
#apps {
  height: 10px;
  width: 10px;
  position: relative;
  top: 1.2px;
}
.head_link {
  text-decoration: none;
  color: #999999;
}
.head_link:hover {
  text-decoration: underline;
  color: gray;
}
#logo {
  position: absolute;
  top: 60px;
  left: 135px;
  right: 135px;
}
#logo img {
  width: 100%;
  height: auto;
}
#container {
  position: absolute;
  top: 175px;
  left: 75px;
}
#container:hover {
  border: solid gray .5px;
}
#container input {
  width: 400px;
  height: 25px;
  font-family: Arial;
  font-size: 12px;
  font-color: lightgray;
  padding-left: 10px;
}
#container:focus {
  border: solid royalblue .5px;
}
#search, #lucky {
  position: absolute;
  height: 20px;
  width: auto;
  top: 230px;
  padding: 4px;
  text-align: center;
  background-color: #f2f2f2;
}
#search {
  left: 150px;
}
#lucky {
  right: 150px;
}
#lucky_link, #search_link {
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: gray;
  text-decoration:none;
  padding: 6px 10px 6px 10px;
}
#lucky:hover, #search:hover {
  border: solid lightgray .5px;
}
#lucky_link:hover, #search_link:hover {
  color:black;
}
#lilfooter {
  background-color: #f2f2f2;
  list-style-type: none;
  position:fixed;
  width: 100%;
  bottom: 0;
  padding: 0px;
  margin: 0px;
 }
.lfoot, .rfoot {
    padding-bottom: 7.5px;
    padding-top: 7.5px;
 }
.lfoot {
  float: left;
  padding-left: 15px;
}
.rfoot {
   float: right;
   padding-right: 15px;
 }
.lfoot_link, .rfoot_link {
  text-decoration: none;
  display: block;
  color: gray;
  font-family: Arial;
  font-size: 10px;
  text-align: center;
}
.lfoot_link:hover, .rfoot_link:hover {
  text-decoration: underline;
}